.nav {
    background-color: #C45262;
    border-style: solid;
    border-color: #660F1F;
    border-width: 5px;
    color:#FFFBDF;
    list-style: none;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: Verdana;}
.nav>li{
display:inline-block;
padding-right: 70px;
}
.nav>li>a{
text-decoration: none;
color:#FFFBDF;
}
.nav>li>a:hover{
color:#660F1F;
}
