/* basic styling */
/* 7/11 made a grid for all of my viewports. I had to change tag names. */
/* 7/15 I added scale transitions to the home footer; it works on firefox dbut not on chrome */
/* 7/18 I redid the entire grid and made the mobile media query the same as the tablet one */
/* 7/22 I made the contact page Grid, and figured out how to center and resize my 6 lvls infographic. Validated Everything */
/* 7/24 fixed zoom to only include icons, and I fixed their container */
html {
  overflow-x: hidden;
}
p {
  font-family: Verdana, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: #175d66;
  white-space: pre-line;
}
body {
  background-color: #fffbdf;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, sans-serif;
}
h1 {
  font-family: scriptorama-markdown-jf, sans-serif;
  color: #fffbdf;
  text-align: center;
}
h2 {
  font-family: Verdana, sans-serif;
  color: #660f1f;
  text-align: center;
  margin-top: 20px;
  padding: 0px;
}
li {
  font-family: Verdana, sans-serif;
  color: #175d66;
  text-align: left;
  padding-right: 20px;
}
h3 {
  color: #fffbdf;
  background-color: #175d66;
  font-family: Verdana, sans-serif;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}
blockquote {
  color: #660f1f;
}
footer {
  font-family: scriptorama-markdown-jf, sans-serif;
  text-align: center;
  color: #660f1f;
  background-color: #c45262;
  border-style: solid;
  border-color: #660f1f;
  border-width: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
}
footer a {
  color: #660f1f;
  text-decoration: underline;
}
#resume {
  color: #660f1f;
  font-family: Verdana, sans-serif;
  text-align: center;
  width: 70px;
}
/* form */
input[type="text"] {
  border: 2px solid #175d66;
  border-radius: 12px;
  width: 250px;
}
form {
  color: #175d66;
  padding-left: 40%;
  font-family: scriptorama-markdown-jf, sans-serif;
}
#message {
  border: 2px solid #175d66;
  border-radius: 12px;
  width: 250px;
}
#email {
  border: 2px solid #175d66;
  border-radius: 12px;
  width: 250px;
}
.learn-Helpful-Links {
  word-break: break-all;
}
#jojo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#me {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*page title*/
.multi-border {
  width: 250px;
  height: 180%;
  background-color: #175d66;
  margin-right: 1050px;
  margin-left: 40px;
  margin-top: 30px;
  border-style: solid;
  border-color: #68bbc4;
  border-width: 5px;
  position: relative;
}
.multi-border::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #175d66;
  border-width: 10px;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
}
/* reflection page styling */
.resources li {
  padding-top: 20px;
}
.resources li::first-letter {
  font-size: 20px;
}
/* .zoom {
  transition: transform 0.2s;
  text-align: center;
  margin-left: auto;
  width: 50px;
}
.zoom:hover {
  transform: scale(1.5);
  margin: 0 auto;
} */
/*grid*/
.grid {
  display: grid;
  /* grid-column-gap: 20px;
  grid-row-gap: 20px; CAUSES OVERRFLOW*/
  grid-template-columns: 50% 25% 25%;
}
/*query*/
@media screen and (min-width: 959px) {
  /* index page specific grid */
  .Index-Contact {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .title-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Welcome-Scentence {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .Index-SD-Pros-List {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .Index-Paragraph {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  /* about page specific grid */
  .about-paragraph-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .about-paragraph {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .about-video {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .about-photo-one {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    z-index: 10;
  }
  .about-photo-two {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    z-index: 11;
  }
  #me {
    max-width: 206px;
  }
  #jojo {
    max-width: 206px;
  }
  .about-contact {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  iframe {
    max-width: 412px;
    max-height: 250px;
  }
  /* learn page specific grid */
  .training-principles {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .training-principles-overview {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .training-principles-links {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
  }
  .foundational-training {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
  }
  .foundational-training-infographic {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 12;
  }
  .foundational-training-infographic > img {
    width: 50%;
    margin: 0% 25% 0% 25%;
  }
  /* how do I get a picture in a grid space to be centered? */
  .foundational-training-socialization {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 16;
  }
  #Socialization_Score_Sheet {
    width: 100%;
    height: auto;
  }
  .foundational-training-sessions {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 15;
  }
  .task-training {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 16;
    grid-row-end: 17;
  }
  .task-training-overview {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 17;
    grid-row-end: 19;
  }
  .task-training-video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 17;
    grid-row-end: 18;
  }
  .learn-page-footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 20;
    grid-row-end: 21;
  }
  .learn-Law-Exerpts {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .learn-Law-Exerpts > img {
    width: 100%;
  }
  .learn-Helpful-Links {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .learn-Overview {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  /* Contact Page Specific */
  caption {
    color: #660f1f;
  }
  .hides-table-caption {
    visibility: hidden;
  }
  table,
  td {
    border: 2px solid #175d66;
  }
  td {
    padding: 10px;
  }
  #Contact-Table {
    width: 50%;
    margin: 0 auto 10px auto;
    border: 2px solid #175d66;
    border-spacing: 0px;
  }
  #Contact-Table td {
    text-align: center;
  }
  #Contact-Table thead {
    background-color: #175d66;
    color: #fffbdf;
  }
  #Contact-Table tbody > tr:nth-child(even) {
    background-color: #175d66;
    color: #fffbdf;
  }
  #Contact-Table tbody > tr:nth-child(odd) {
    background-color: #68bbc4;
    color: black;
  }
  #Contact-Table tfoot {
    background-color: #175d66;
    color: #fffbdf;
  }
}
@media screen and (max-width: 958px) {
  .grid {
    display: grid;
    grid-template-columns: 50% 25% 25%;
  }
  /* index page specific grid */
  .multi-border {
    margin-left: 30px;
  }
  .title-box {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }
  .Welcome-Scentence {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
  }
  .Index-SD-Pros-List {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
  }
  .Index-Paragraph {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
  }
  .Index-Contact {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 16;
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
  }
  /* about specific media query */
  .about-video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
  }
  iframe {
    width: 280px;
    height: 157px;
    margin-left: 20px;
  }
  .about-paragraph-title {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
  }
  .about-paragraph {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
  }
  .about-photo-one {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 22;
  }
  .about-photo-two {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 15;
  }
  #Socialization_Score_Sheet {
    max-width: 310px;
    margin: 0px;
  }
  .about-contact {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 30;
  }
  /* learn specific grid query */
  .training-principles {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    z-index: 4;
  }
  .training-principles-overview {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    z-index: 5;
  }
  .training-principles-links {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    z-index: 6;
  }
  .foundational-training {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    z-index: 7;
  }
  .foundational-training-infographic {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 11;
    z-index: 9;
  }
  #Six_lvls_Photo {
    min-width: 100%;
    height: auto;
  }
  .foundational-training-socialization {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
    z-index: 8;
  }
  #Socialization_Score_Sheet {
    min-width: 100%;
    height: auto;
  }
  .foundational-training-sessions {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 12;
    z-index: 10;
  }
  /* #Socialization_Score_Sheet {
 how do i make this image bigger?
  } */
  .task-training {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .task-training-overview {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .task-training-video {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .learn-page-footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .learn-Law-Exerpts {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    z-index: 3;
  }
  .learn-Law-Exerpts > img {
    width: 100%;
    margin: 0px;
  }
  .learn-Helpful-Links {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 2;
  }
  .learn-Overview {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 1;
  }
  /* Contact Page Specific */
  #Contact-Table {
    width: 50%;
    margin: 0 auto 10px auto;
  }
  #Contact-Table td {
    text-align: center;
  }
  #Contact-Table thead {
    background-color: #175d66;
    color: #fffbdf;
  }
  #Contact-Table tbody > tr:nth-child(even) {
    background-color: #175d66;
    color: #fffbdf;
  }
  #Contact-Table tbody > tr:nth-child(odd) {
    background-color: #68bbc4;
    color: black;
  }
  #Contact-Table tfoot {
    background-color: #175d66;
    color: #fffbdf;
  }
  #email_form {
    margin: 0 auto;
    padding-left: 20%;
  }
}
/* media query about page */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 10px;
  }
  p {
    font-family: serif;
  }
  h1 {
    font-family: scriptorama-markdown-jf, serif;
    text-align: center;
  }
  .about-video {
    display: none;
  }
  .multi-border::before {
    display: none;
  }
  .about-photo-one {
    display: none;
  }
  .about-photo-two {
    display: none;
  }
  .menu-wrap {
    display: none;
  }
  .menu {
    display: none;
  }
  .nav {
    display: none;
  }
  a href::after {
    content: "[" attr(href) "]";
    color: blue;
  }
}
