/* basic styling */
/* 7/11 made a grid for all of my viewports. I had to change tag names. */
/* 7/15 I added scale transitions to the home footer; it works on firefox dbut not on chrome */
p {
  font-style: Verdana;
}
p {
  color: #175d66;
}
body {
  background-color: #fffbdf;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}
h1 {
  font-family: scriptorama-markdown-jf, sans-serif;
  color: #fffbdf;
  text-align: center;
}
h2 {
  font-family: Verdana;
  color: #660f1f;
  text-align: center;
}
li {
  font-family: Verdana;
  color: #175d66;
  text-align: left;
  padding-right: 20px;
}
h3 {
  color: #fffbdf;
  background-color: #175d66;
  font-style: Verdana;
  text-align: center;
}
blockquote {
  color: #660f1f;
}
footer {
  color: #660f1f;
}
/*page title*/
.multi-border {
  width: 250px;
  height: 180%;
  background-color: #175d66;
  margin-right: 1050px;
  margin-left: 40px;
  margin-top: 30px;
  border-style: solid;
  border-color: #68bbc4;
  border-width: 5px;
  position: relative;
}
.multi-border::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #175d66;
  border-width: 10px;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
}
/* reflection page styling */
.resources li {
  padding-top: 20px;
}
.resources li::first-letter {
  font-size: 20px;
}
/* doesn't work on chrome but does on firefox */
.zoom {
  transition: transform 0.2s;
  text-align: center;
}
.zoom:hover {
  transform: scale(1.5);
}
.contact {
  background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9rZWglMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
}
/*grid*/
/*query*/
@media screen and (max-width: 959px) {
  .grid {
    display: grid;
    grid-template-columns: 5% 43% 4% 21% 22% 5%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  }
  .title-box {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }
  .paragraph-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
  }
  .paragraph {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
  }
  .video {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
  }
  .photo-one {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
  }
  .photo-two {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
  }
  .contact {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 14;
    background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9rZWglMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  }
  /* about page specific grid */
  .about-paragraph-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
  }
  .about-paragraph {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
  }
  .about-video {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
  }
  .about-photo-one {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
  }
  .about-photo-two {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
  }
  #me {
    max-width: 206px;
  }
  #jojo {
    max-width: 206px;
  }
  .about-contact {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 11;
  }
  iframe {
    max-width: 412px;
    max-height: 250px;
  }
  /* learn page specific grid */
  .training-principles {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 14;
  }
  .training-principles-overview {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 17;
  }
  .training-principles-links {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 15;
  }
  .foundational-training {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 25;
  }
  .foundational-training-infographic {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 28;
  }
  .foundational-training-socialization {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 26;
  }
  .foundational-training-sessions {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 33;
  }
  .task-training {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 37;
  }
  .task-training-overview {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 38;
  }
  .task-training-video {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 40;
  }
  .learn-page-footer {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 44;
  }
  .learn-paragraph-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
  }
  .learn-contact {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 11;
  }
  .learn-video {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
  }
}
@media screen and (max-width: 640px) {
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  }
  .paragraph-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
  }
  .multi-border {
    margin-left: 30px;
  }
  .title-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  }
  .paragraph {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
  }
  .video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
  }
  .photo-one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
  }
  .photo-two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
  }
  .contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9rZWglMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
  }
  /* about specific media query */
  .about-video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
  }
  iframe {
    width: 280px;
    height: 157px;
    margin-left: 20px;
  }
  .about-paragraph-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
  }
  .about-paragraph {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
  }
  .about-photo-one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
  }
  .about-photo-two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 15;
  }
  #Socialization_Score_Sheet {
    max-width: 310px;
    margin: 0px;
  }
  img {
    margin-left: 30px;
  }
  .about-contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 19;
  }
  /* learn specific grid query */
  .training-principles {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 20;
  }
  .training-principles-overview {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 23;
  }
  .training-principles-links {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 28;
  }
  .foundational-training {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 37;
  }
  .foundational-training-infographic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 40;
  }
  .foundational-training-socialization {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 46;
  }
  .foundational-training-sessions {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 52;
  }
  .task-training {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 55;
  }
  .task-training-overview {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 58;
  }
  .task-training-video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 63;
  }
  .learn-page-footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 66;
  }
  .learn-paragraph-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
  }
  .learn-contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 16;
  }
  .learn-video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
  }
}
@media screen and (max-width: 320px) {
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  }
  .paragraph-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
  }
  .multi-border {
    margin-left: 30px;
  }
  .title-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  }
  .paragraph {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
  }
  .video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
  }
  .photo-one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
  }
  .photo-two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
  }
  .contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 16;
    background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9rZWglMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
  }
  /* about specific media query */
  .about-video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
  }
  iframe {
    width: 280px;
    height: 157px;
    margin-left: 20px;
  }
  .about-paragraph-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
  }
  .about-paragraph {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
  }
  .about-photo-one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 22;
  }
  .about-photo-two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 15;
  }
  #Socialization_Score_Sheet {
    max-width: 310px;
    margin: 0px;
  }
  img {
    margin-left: 30px;
  }
  .about-contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 30;
  }
  /* learn specific grid query */
  .training-principles {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 24;
  }
  .training-principles-overview {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 27;
  }
  .training-principles-links {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 35;
  }
  .foundational-training {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 48;
  }
  .foundational-training-infographic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 51;
  }
  .foundational-training-socialization {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 55;
  }
  .foundational-training-sessions {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 64;
  }
  .task-training {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 69;
  }
  .task-training-overview {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 72;
  }
  .task-training-video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 80;
  }
  .learn-page-footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 83;
  }
  .learn-paragraph-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
  }
  .learn-contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 19;
  }
  .learn-video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
  }
}
/* media query about page */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 1;
  }
  p {
    font-family: serif;
  }
  /* why did this not change the font? */
  h1 {
    font-family: scriptorama-markdown-jf, serif;
    text-align: center;}
  .about-video {
    display: none;
  } 
  .multi-border::before{
    display: none;
  }
   .about-photo-one {
    display: none;
  }
  .about-photo-two{
    display: none;
  }
   .menu-wrap {
    display: none;
  }
  .menu {
    display: none;
  }
  .nav {
    display: none;
  }
  a href::after {
    content "["attr(href)"]";
    color: blue;
  }
}